.blanck
  padding-bottom: 226px;
  &__title
    max-width: 654px
    text-align: center
    margin: auto
    line-height: 45px
    font-size: 30px
    letter-spacing: 0.55px
    margin-bottom: 92px
  &-list
    display: flex
    justify-content: space-around
  &__item
    width: 270px
    height: 360px
    margin-bottom: 37px
    border: 20px solid #f5f5f5
  &-text
    display: flex
    justify-content: space-around
  &__text
    width: 300px
    display: inline-block
    text-align: center
    font-size: 18px
    line-height: 24px