.blanck
  padding-bottom: 226px;
  &__title
    max-width: 654px
    text-align: center
    margin: auto
    line-height: 45px
    font-size: 30px
    letter-spacing: .25px;
    margin-bottom: 92px
  &-wrap
    display: flex
    justify-content: space-around
  &__item
    border: 20px solid #f5f5f5
  &__text
    display: flex
    justify-content: space-around
    text-align: center
    margin-top: 39px;
    font-size: 18px
    line-height: 23px;
    &-first
      margin-top: 46px;
      margin-right: 7px;
    &-last
      margin-top: 48px;
      margin-right: -14px;
  &-img__center
    margin-left: 23px
    margin-bottom: 18px
@media (max-width: 1200px)
  .blanck
    padding-bottom: 78px
    line-height: 22px;
    &-wrap
      flex-wrap: wrap
    &__title
      font-size: 20px;
      margin-top: 80px
    &__text
      font-size: 14px;
      line-height: 16px;
      margin-top: 36px;
      margin-left: -12px;
      margin-bottom: 57px;
    &-img__center
      margin-left: 14px;
      margin-bottom: 17px;
@media (max-width: 768px)
  .blanck
    padding-bottom: 81px;
@media (max-width: 567px)
  .blanck
    padding-bottom: 41px;
    &__title
      font-size: 18px;
      line-height: 22px;
      margin-top: 134px;
      margin-bottom: 49px;
      margin-left: 3px;
    &__text
      font-size: 14px;
      line-height: 16px;
      margin-top: 36px;
      margin-left: 12px;
      margin-bottom: 45px;
    &__item
      &-center