.footer
  position: relative
.map
  width: 50%
  position: absolute
  top: 0
  left: 0
.contacts
  width: 50%;
  padding-top: 70px;
  padding-left: 211px;
  &__title
    +bold
    font-size: 22px
    line-height: 32px
    margin-bottom: 91px;
    margin-top: 24px;
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 22px;
      margin-top: 7px;
      margin-left: -2px;
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 31px
    &__phone
      text-decoration: none
      color: #000
    &__text
      line-height: 25px
@media (max-width: 1200px)
  .contacts
    width: 60%;
    &__title
      font-size: 17px;
      line-height: 32px;
      margin-bottom: 54px;
@media (max-width: 768px)
  .contacts
    padding-left: 139px;
    width: 100%;
    &-block
      display: block
  .map
    width: 100%;
    position: absolute;
    top: 678px;
    left: 0;
@media (max-width: 567px)
  .contacts
    width: 100%;
    padding-top: 0px
    padding-left: 1px;
    &__title
      margin-top: 61px;
      font-size: 18px;
      margin-bottom: 31px;
      line-height: 22px;
    &-list
      &__item
        font-size: 16px
      &__text
        margin-left: -9px
  .map
    position: absolute
    top: 396px;
