.people
  margin-bottom: -45px
  &-list
    &__section
      display: flex
      justify-content: space-between
    &__card
      width: 370px
      height: 410px
      background-color: #f7f7f7
      position: relative
    &__img
      position: absolute
      bottom: 0
      left: 0
      z-index: 11
    &__text
      display: block
      padding-top: 0px;
      padding-left: 26px
      line-height: 23px
      font-size: 16px
      margin-top: 23px;
      +reg
@media (max-width: 1200px)
  .people
    &-list
      &__section
        flex-wrap: wrap
      &__card
        margin: auto
        margin-top: 20px
        &:last-child
          margin: auto
          margin-top: 6px;
@media (max-width: 567px)
  .people
    &-list
      &__section
        flex-direction: column;
      &__card
        width: 272px;
        height: 300px;
        margin-bottom: 14px;
      &__text
        font-size: 12px
        line-height: 17px
        padding-top: 0px;
        margin-top: 14px
        margin-left: -6px