.portfolio
  background: $secondary url('../img/slider/bgc.jpg') repeat-y center left
  background-size: 50%
  &__title
    max-width: 812px;
    margin: auto
    margin-bottom: 93px
    padding-top: 89px
    line-height: 45px
    font-size: 30px
    letter-spacing: -0.08px;
  &__arrows
    display: flex
    max-width: 120px
    margin: auto
    margin-top: 68px
    justify-content: space-between
.slider
  &__img
    margin: auto
@media (max-width: 1200px)
  .portfolio__title
    font-size: 28px;
@media (max-width: 567px)
  .portfolio
    &__title
      margin: auto;
      margin-bottom: 42px;
      padding-top: 40px;
      line-height: 21px;
      margin-top: 40px;
      font-size: 18px;
  .section
    padding: 50px 0px 52px 0px
  .slider
    &__img
      width: 88%

