.section
  &__tagline
    padding-top: 77px
    padding-bottom: 9px
.tagline
  background-color: $main-color
  height: 280px
  &__title
    display: block
    padding-top: 87px
    line-height: 50px
    font-size: 32px
    +reg
    text-align: center
@media (max-width: 1200px)
  .tagline
    &__title
      font-size: 26px
@media (max-width: 567px)
  .section
    &__tagline
      padding-top: 0
      padding-bottom: 36px;
  .tagline
    height: 233px;
    &__title
      font-size: 18px;
      line-height: 21px;
      padding-top: 73px;